extends layout
block content
	.page-header 
		h1(align='center') Quizzes
	.row
		.col-md-4.col-md-offset-4
			form(role='form' method='POST')
				.form-group
					.col-md-12
						label(for="email") Email address
						input(autocomplete='false' type="email" class="form-control" name="email"
						 id="email" placeholder="Enter email")
				.form-group
					.col-md-12
						label(for="password") Password
						input(type="password" class="form-control" id="password" 
							placeholder="Enter Password" name="password")
				.form-group
					.col-md-12
						button.btn.btn-success.btn-block#login	log In
				.form-group		
					.col-md-12
						button.btn.btn-danger.btn-block#register	Registration
				.form-group
					.col-md-12
						.alert-danger.index
				.form-group
					.col-md-12
						.alert-success.index
	script.
		$("#login").on('click',function(e){
			e.preventDefault();
			var email=$("#email").val().trim();
			var password=$("#password").val().trim();
			if(!email){
				$("#email").addClass("alert-danger");
			}
			if(!password){
				$("#password").addClass("alert-danger");
			}
			if(!password||!email)
				return;
			$.post("/users",{email:email,password:password},function(data){
				if(data.success){
					if(email=="admin@gmail.com"){
						window.location="/admin";
					}else{
						window.location="/users";
					}
				}else{
					$(".alert-danger").html(data.text);
					$(".alert-success").html("");
				}
			});
		});
		$("#register").on('click',function(e){
			e.preventDefault();
			var email=$("#email").val().trim();
			var password=$("#password").val().trim();
			if(!email){
				$("#email").addClass("alert-danger");
			}
			if(!password){
				$("#password").addClass("alert-danger");
			}
			if(!password||!email)
				return;
			$.post("/",{email:email,password:password},function(data){
				if(data.success){
					$(".alert-success").html(data.text);
					$(".alert-danger").html("");
				}else{
					$(".alert-danger").html(data.text);
				}
				
			});
		});