body {
  background-image: url("/images/background.png");
  background-position: center;
<<<<<<< HEAD
=======
<<<<<<< HEAD
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
=======
>>>>>>> 68ff6dc994d1ebe287868125fd2b882885c090f4
>>>>>>> 6f004bee1a86ffb051373bf6a9b55579f11b8bf9
  background-size: cover;
}
.index {
  font-size: 22px;
  font-weight: bolder;
  border-radius: 3px;
  text-align: center;
}
#Tests li {
  background-color: #fff;
  border: 1px solid #ffa500;
  height: 220px;
}
#Tests img {
  height: 100px;
  width: 100px;
}
#userTests li {
  background-color: #fff;
  border: 1px solid OrangeRed;
<<<<<<< HEAD
  height: 190px;
  width: 33%;
}
#userTests li button {
  background-color: #ff6347;
  border: 0px;
=======
  height: 150px;
>>>>>>> 6f004bee1a86ffb051373bf6a9b55579f11b8bf9
}
#userTests img {
  height: 100px;
  width: 100px;
}
<<<<<<< HEAD
.table {
  color: #a0522d;
  background-color: AliceBlue;
  font-size: 17px;
  font-weight: bold;
}
=======
>>>>>>> 6f004bee1a86ffb051373bf6a9b55579f11b8bf9
.page-header {
  color: #fff;
}
.answers p {
  border: 3px solid Lavender;
  border-radius: 5px;
  min-height: 50px;
  cursor: pointer;
  padding: 10px;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> d8602cb6499071e98739a3297304e14c37174c1b
>>>>>>> 6f004bee1a86ffb051373bf6a9b55579f11b8bf9
#email {
  border: 1px solid #fff;
}
#password {
  border: 1px solid #fff;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 6f004bee1a86ffb051373bf6a9b55579f11b8bf9
.popover {
  color: #fff;
  font-size: 17px;
  width: 150px;
  background: Tomato !important;
}
.tani {
  height: 200px;
}
<<<<<<< HEAD
=======
=======
>>>>>>> 68ff6dc994d1ebe287868125fd2b882885c090f4
>>>>>>> d8602cb6499071e98739a3297304e14c37174c1b
>>>>>>> 6f004bee1a86ffb051373bf6a9b55579f11b8bf9
