body
	background-image url('/images/background.png')
	background-position center
	background-size cover

.index
	font-size 22px
	font-weight bolder
	border-radius 3px
	text-align center
#Tests li
	background-color white
	border 1px solid orange
	height 220px

#Tests img
	height 100px
	width 100px


#userTests li
	background-color gray 
	border 1px solid OrangeRed
	border-radius 7px
	height 190px
	width 33%

#userTests li button
	background-color #FF6347
	border 0px

#userTests img
	height 100px
	width 100px

.dropdown button
	font-size 20px
	border-radius 5px
	heigth 150px
	width 100%

.dropdown ul
	width 100%
	background-color #FFFFD1

.table
	color black
	font-size 20px
	background-color #EBEBE0
	cursor pointer
	

.table thead
	background-color #FF6347
	font-weight bold
	color white


.page-header
	color white

.answers p
	border 3px solid Lavender
	border-radius 5px
	min-height: 50px
	cursor pointer
	padding 10px

#email
	border 1px solid white

#password
	border 1px solid white

.popover
	color white
	font-size 17px
	width 150px
	background: Tomato!important

.tani
	height 200px