body {
  background-image: url("/images/background.png");
  background-position: center;
  background-size: cover;
}
.index {
  font-size: 22px;
  font-weight: bolder;
  border-radius: 3px;
  text-align: center;
}
